<article class="container">

  <section class="create" *ngIf="isCreate">
    <h1>Cấu hình</h1>
    <form>
      <div class="mb-3">
        <label for="name">Tiêu đề</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter your name"
          [(ngModel)]="title">
      </div>

      <div class="mb-3">
        <label for="address">Hình ảnh</label>
        <sys_cau_hinh_admin_popup (onUploadFinished)="uploadFinished($event)"></sys_cau_hinh_admin_popup>

      </div>
      <div class="mb-3">
        <label for="address">Copyright</label>
        <input type="text" class="form-control" id="name_footer" name="name_footer" placeholder="Enter your address"
          [(ngModel)]="name_footer">
      </div>
      <div class="mb-3">
        <label for="address">Powered</label>
        <input type="text" class="form-control" id="title_footer" name="title_footer" placeholder="Enter your address"
          [(ngModel)]="title_footer">
      </div>
      <div class="mb-3">
        <label for="address">Ghi chú</label>
        <input type="text" class="form-control" id="note" name="note" placeholder="Enter your address"
          [(ngModel)]="note">
      </div>



      <div class="row">
        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-primary" (click)="onCreate()">Create </button>
        </div>
      </div>


    </form>
  </section>



  <div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
  </div>
<!-- <div class="flex flex-col flex-auto w-full  h-fit overflow-y-visible">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <span class="text-lg font-medium">Cấu hình giao diện</span>
  </div>
  <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
    <div class="flex flex-col">
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tiêu đề
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.ten_bo_mon'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="sys_cau_hinh_admin_.title" />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Copyright
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.name_footer'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="sys_cau_hinh_admin_.name_footer" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Powered by
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.title_footer'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="sys_cau_hinh_admin_.title_footer" />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Ghi chú
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.note'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="sys_cau_hinh_admin_.note" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <sys_cau_hinh_admin_popup (onUploadFinished)="uploadFinished($event)"></sys_cau_hinh_admin_popup>
        </div>
       
      </div>
    </div>
    <div class="flex pl-6 pt-6 justify-end">
      <div class="flex mr-3">
        <button mat-raised-button (click)="Close()">Đóng</button>
      </div>
      <div>
        <button mat-raised-button color="primary" *ngIf="sys_cau_hinh_admin_model.id == 0" (click)="Save()">
          Lưu
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" *ngIf="sys_cau_hinh_admin_model.id != 0" (click)="Edit()">
          Sửa
        </button>
      </div>
    </div>
  </div>
</div> -->
